* {
  margin: 0;
  padding: 0;
  font-family: "Share Tech", sans-serif;
}

.completo {
  background-color: rgb(55, 94, 167);
}

.portada img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: aqua;
  padding: 10px;
  font-size: 50px;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descripcion {
  font-size: 25px;
  font-weight: 600;
  color: rgb(202, 255, 255);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.subtitulo h3 {
  font-size: 45px;
  font-weight: 600;
  color: rgb(202, 255, 255);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.ejemplos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 15px;
}

.ejemplos img {
  width: 400px;
  box-shadow: 10px 14px 5px 0px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}

.contacto h3 {
  font-size: 45px;
  font-weight: 600;
  color: rgb(202, 255, 255);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.contacto p {
  font-size: 25px;
  font-weight: 600;
  color: rgb(202, 255, 255);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.contacto form input,
textarea {
  padding: 10px;
  resize: none;
  margin-left: 15px;
  margin-bottom: 10px;
  display: block;
  border-radius: 10px;
  font-size: 20px;
}

.contacto label {
  font-size: 25px;
  font-weight: 600;
  color: rgb(202, 255, 255);
  padding: 20px;
  font-style: italic;
}

.contacto button {
  background-color: cyan;
  font-size: 30px;
  padding: 10px;
  margin: 20px;
  font-weight: 800;
  border-radius: 15px;
  font-style: italic;
}

.contacto button:hover {
  background-color: rgb(0, 140, 140);
  color: white;
  padding: 12px;
}

.footer {
  font-size: 15px;
  font-weight: 600;
  color: rgb(202, 255, 255);
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-top-style: solid;
}